{% extends "rides/base.html" %}
{% block content %}
    {% for ride in rides %}

    <div class="card bg-light mb-3">
      <div class="card-header">
      <h5>
        <a class="article-title" href="{% url 'ride-detail' ride.id %}">{{ ride.title }}</a>
      </h5>

    </div>
      <div class="card-body">
        <strong class="card-title">
          <a class="mr-2" href="{% url 'user-rides' ride.driver.username %}">Driver: {{ ride.driver }}</a>
        </strong>
        <p class="card-text">Start Location: {{ ride.source_location }}</p>
        <p class="card-text">End Location: {{ ride.destination_location }}</p>
        <p class="card-text">Trip Distance: {{ ride.distance }}</p>
        <p class="card-text">Price per km: {{ ride.price_per_km }}</p>
        {% if ride.description %}
        <p class="card-text">{{ ride.description|truncatechars:200 }}</p>
        {% endif %}
      </div>
    </div>

    {% endfor %}
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}
