{% extends "rides/base.html" %}
{% block content %}
    <h4 class="mb-3">
      <h1 class="mb-3">Request : {{ view.kwargs.username }} ({{ page_obj.paginator.count }} Requests)</h1>
    </h4>
    {% for request in requests %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <h3>
                <a class="mr-2" href="{% url 'ride-detail' request.ride.id %}">
                 Ride: {{ request.ride }}<br>
               </a>
              </h3>

              <small class="text-muted">{{ ride.start_time }}</small>
            </div>

            <h2><a class="article-title" href="">{{ ride.title }}</a></h2>
            <div class="alert alert-primary" role="alert">
                <h2>  Status: {{ request.status }}<br></h2>
            </div>
            {% if request.ride.driver == user %}
              {% if request.status == "Pending" %}
              <div class="article-metadata">
                <form action="{% url 'approve-request' request.id  %}" method="post">
                  {% csrf_token %}
                  <button class="btn btn-success" type="submit" name="button" value='profile_user'>Approve</button>
                </form>
                <br>
                <form action="{% url 'reject-request' request.id  %}" method="post">
                  {% csrf_token %}
                  <button class="btn btn-danger" type="submit" name="button" value='profile_user'>Reject</button>
                </form>
              </div>
              {% endif %}
            {% endif %}


            <p class="article-content"> <strong>Start time:</strong> {{ request.ride.start_time }} </p>
            <p class="article-content"> <strong>From:</strong> {{ request.ride.source_location }}</p>
            <p class="article-content"> <strong>To:</strong> {{ request.ride.destination_location }}</p>
            <p class="article-content"> <strong>Number of seats: </strong> {{ request.ride.number_of_seats }}</p>
            <p class="article-content"> <strong>Number_of_seats_booked: </strong> {{ request.ride.trips.count }}</p>
            {% if request.ride.number_of_seats == request.ride.trips.count %}
              <p class="article-content"> <strong>number_of_seats_booked: </strong> {{ request.ride.trips.count }}</p>
            {% endif %}
            <p class="article-content"> <strong>Requested By:</strong> {{ request.user_requested }}</p>

          </div>

        </article>
    {% endfor %}
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}
